body {
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-family: 'Fresca', sans-serif;
}

/* header */

header {
    /* header position */
    box-sizing: border-box;
    height: 75px;
    width: 1000px;
    border: 3px solid #4c0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0px auto;
    /* gradient */
    background: #91e842;
    background: -moz-linear-gradient(top, #91e842 0%, #d2ff52 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #91e842), color-stop(100%, #d2ff52));
    background: -webkit-linear-gradient(top, #91e842 0%, #d2ff52 100%);
    background: -o-linear-gradient(top, #91e842 0%, #d2ff52 100%);
    background: -ms-linear-gradient(top, #91e842 0%, #d2ff52 100%);
    background: linear-gradient(to bottom, #91e842 0%, #d2ff52 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#d2ff52', GradientType=0);
}

header h1 {
    /* text */
    font-family: 'Pacifico', cursive;
    color: #080;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 0.5;
    font-size: 30px;
    letter-spacing: 15px;
    text-shadow: 0px 0px 3px #080;
}

/* header */

.container {
    /* .container position */
    width: 1000px;
    height: 700px;
    margin: 0px auto;
    padding-top: 50px;
    /* gradient */
    background: #f6fc3a;
    background: -moz-linear-gradient(45deg, #f6fc3a 0%, #91e842 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #f6fc3a), color-stop(100%, #91e842));
    background: -webkit-linear-gradient(45deg, #f6fc3a 0%, #91e842 100%);
    background: -o-linear-gradient(45deg, #f6fc3a 0%, #91e842 100%);
    background: -ms-linear-gradient(45deg, #f6fc3a 0%, #91e842 100%);
    background: linear-gradient(45deg, #f6fc3a 0%, #91e842 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6fc3a', endColorstr='#91e842', GradientType=1);
    box-shadow: inset 0px 0px 50px 50px white;
}


/* main divs style */

.important-info,
.optional-info {
    /* position */
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 700px;
    padding: 20px 2% 20px 2%;
    /* text */
    font-family: 'Fresca', sans-serif;
}

/* HIDE PLACEHOLDER TEXT ON FOCUS */

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:-moz-placeholder {
    color: transparent;
}

/* only left div style */

.important-info label {
    /* position */
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px auto;
    /* text */
    text-align: right;
    font-size: 20px;
}

.important-info label input {
    /* position */
    box-sizing: border-box;
    display: inline-block;
    float: right;
    width: 140px;
    margin-left: 10px;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #4c0;
    border-radius: 3px;
    outline: none;
    /* text */
    font-size: 18px;
}

/* gender selection */

fieldset {
    border: none;
}

.gender p {
    text-align: center;
    font-size: 20px;
    margin-left: 60px;
    margin-bottom: 5px;
}

.gender label {
    margin-top: 0px;
    margin-bottom: 0px;
}

.gender label input {
    width: 20px;
    margin-right: 130px;
}

/* left inputs focus */

.important-info label input:focus {
    box-shadow: 0px 0px 3px 3px #44cc00;
    color: #393;
}

/* registration button & back button */

.important-info button[type="submit"],
.back-btn {
    /* position */
    width: 140px;
    height: 30px;
    background-color: #91e842;
    border-radius: 5px;
    border: 3px solid #4c0;
    /* text */
    font-family: 'Fresca', sans-serif;
    color: #080;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin-left: 158px;
    margin-top: 25px;
    /* gradient */
    background: #91e842;
    background: -moz-linear-gradient(left, #91e842 0%, #d2ff52 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #91e842), color-stop(100%, #d2ff52));
    background: -webkit-linear-gradient(left, #91e842 0%, #d2ff52 100%);
    background: -o-linear-gradient(left, #91e842 0%, #d2ff52 100%);
    background: -ms-linear-gradient(left, #91e842 0%, #d2ff52 100%);
    background: linear-gradient(to right, #91e842 0%, #d2ff52 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#d2ff52', GradientType=1);
}

.important-info button[type="submit"]:hover {
    box-shadow: 0px 0px 3px 3px rgba(68, 204, 0, 0.3);
}

.important-info button[type="submit"]:active {
    margin-right: -25px;
    color: #040;
    box-shadow: 0px 0px 5px 5px rgba(68, 104, 0, 0.3);
}

/* only right div style */

.optional-info img {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    width: 225px;
    height: 180px;
    border: 2px solid #f90;
    border-radius: 3px;
}

.optional-info label {
    /*    box-sizing: border-box;*/
    display: inline-block;
    /*    margin-top: 20px;*/
    margin-left: 0px;
    height: 220px;
    /* text */
    font-size: 20px;
    font-family: 'Fresca', sans-serif;
}

.optional-info label textarea {
    display: inline-block;
    max-width: 225px;
    max-height: 180px;
    min-width: 225px;
    min-height: 180px;
    border: 2px solid #f90;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* right textarea focus */

.optional-info textarea:focus {
    box-shadow: 0px 0px 5px 5px rgba(204, 126, 0, 0.56);
}

/* footer */

footer {
    /* position */
    box-sizing: border-box;
    height: 75px;
    width: 1000px;
    margin: 0px auto;
    border: 3px solid #4c0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* text */
    font-family: 'Fresca', sans-serif;
    font-size: 1.4em;
    color: #000;
    text-shadow: 0px 0px 0px gold;
    text-transform: uppercase;
    text-align: center;
    /* gradient */
    background: #d2ff52;
    background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #d2ff52), color-stop(100%, #91e842));
    background: -webkit-linear-gradient(top, #d2ff52 0%, #91e842 100%);
    background: -o-linear-gradient(top, #d2ff52 0%, #91e842 100%);
    background: -ms-linear-gradient(top, #d2ff52 0%, #91e842 100%);
    background: linear-gradient(to bottom, #d2ff52 0%, #91e842 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0);
}

/* SHOW PAGE */

.show-info {
    font-size: 25px;
/*    text-align: right;*/
}

.show-info p {
    margin-left: 20%;
}

.show-info span:first-child {
    display: inline-block;
    text-align: right;
    width: 50%;
}

.show-info span:last-child {
    color: #080;
    margin-left: 5%;
}

.back-btn {
    display: block;
    font-size: 25px;
}